
<h1> Message with port 9292 </h1>
<div id="messages">
	<ul>
		<% @messages.each do |message| %>
			<%= render :partial=>"messages/item", :locals=>{:message=>message} %>
		<% end %>
	</ul>
</div>

<hr>
<div class="message-form">
	<%= form_for @message, :remote=>true do |form| %>
		<%= form.text_field :content, :id=>"message-input" %>
	<% end %>
</div>

<!-- <script src="http://<%#request.host%>:443/faye/client.js"></script> -->
<script>
	$(document).ready(function(){
		var faye = new Faye.Client('<%= request.protocol + request.host %>:443/faye')
		faye.subscribe("/messages/new",function(payload){
			eval(payload);
		})		
	});

</script>
