

<div id="messages">
	<ul>
		<% @messages.each do |message| %>
			<%= render :partial=>"messages/item", :locals=>{:message=>message} %>
		<% end %>
	</ul>
</div>

<hr>
<div class="message-form">
	<%= form_for @message, :remote=>true do |form| %>
		<%= form.text_field :content, :id=>"message-input" %>
	<% end %>
</div>


