

<div id="user-container" style="margin:100px auto;width: 400px">
		<%= form_tag users_path do %>
			<h3> 即將進入聊天室 </h3>
			<%= label_tag :user, "請輸入暱稱" %>
			<%= text_field_tag :user %>
		<% end %>

</div>
