

<div id="chat">
	<ul>
		<% @chats.each do |chat| %>
			<li>
				<%= link_to "x", chat_path(chat), :method=>:delete %>
				<%= chat.content %> 
			</li>
		<% end %>
	</ul>
</div>

<hr>
<div class="chat-form">
	<%= form_for @chat do |form| %>
		<%= form.text_field :content, :id=>"chat-input" %>
	<% end %>
</div>


<script>

(function() {
  var client;

  client = new Faye.Client('/faye');

  client.subscribe('/chat', function(payload) {
    return $('#chat ul').append("<li> " + payload.content + "</li>");
  });

  $(document).ready(function() {
    var input;
    input = $('#chat-input');
    return $('form#new_chat').submit(function(event) {
      var publication;
      console.log(input.val());
      publication = client.publish('/chat', {
        content: input.val()
      });
      publication.callback(function() {
        return input.val('');
      });
      publication.errback(function() {});
      event.preventDefault();
      return false;
    });
  });

  window.client = client;

}).call(this);


</script>

