

#messages{
	margin:20px auto; width:70%;

	li{
		list-style: none;
	}

	span.content{
		margin: 0 0 0 -40px;
		display:block;
		float:left;
		width:60%;
	}

	span.username{
		display:block;
		float:left;
		width:20%;
	}

	

}

